header {
    background-color: #770b8d;
    margin-bottom: 20px;
    text-align: center;
}

header li {
    padding: 10px;
}

.img-fluid {
    height: 200px;
}

h1,
h3 {
    color: #5e0075;
}

.card-title {
    color: #5e0075;
}